@using JNCC.PublicWebsite.Core.ViewModels
@model IScienceIFrameImageGallerySectionViewModel
@if (Model.Images?.Any() ?? false)
{
    <div class="science-details-image-gallery">
        <div class="row expand">
            @foreach (var image in Model.Images)
            {
                <div class="columns small-6 medium-4 "><a href="#" class="thumbnail"><img src="@image.ThumbnailImageUrl" data-image-url="@image.Url" alt="@image.AlternativeText" title="@image.TitleText" /></a></div>
            }
        </div>
    </div>
}