<form action="/search" role="search" method="GET" class="top-bar search-form input-group" id="search-form" data-animate="hinge-in-from-top spin-out">
    <input type="text" name="q" class="input-group-field" id="search-field" placeholder="Search" value="" aria-label="Search" />
    <button class="input-group-button" aria-label="search-button"><i class="icon-search"></i></button>
</form>