<div class="ud-remote-api-timeout-error">
  <h4 class="bold color-red">
    The remote API has returned a response indicating a platform timeout.
  </h4>
  <p>
    The usual cause of this is when transferring or restoring many items, such that the time for processing exceeds that allowed by the hosting environment.
  </p>
  <p>
    If restoring content, please consider using the 'Partial Restore' feature to restore items in batches.
  </p>
  <p>
    There are configuration options available to speed up these operations that you can consider. To review please see <a href="https://docs.umbraco.com/umbraco-deploy/troubleshooting" target="_blank" style="text-decoration: underline">the documentation</a>.
  </p>
</div>
