<?xml version="1.0" encoding="utf-8"?>
<Content Key="55c4dce4-885b-4e3b-b863-ba81aa743de7" Alias="Contact  2" Level="2">
  <Info>
    <Parent Key="ed29cca8-ded4-4ac9-b2e0-ed9904f390dd">Home</Parent>
    <Path>/Home/Contact2</Path>
    <Trashed>false</Trashed>
    <ContentType>internalTextPage</ContentType>
    <CreateDate>2024-03-14T12:39:09</CreateDate>
    <NodeName Default="Contact  2" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9d79e96-1aae-44c3-b1bc-6e3532f5be02">InternalTextPage</Template>
  </Info>
  <Properties>
    <getInTouchButton>
      <Value><![CDATA[]]></Value>
    </getInTouchButton>
    <getInTouchContent>
      <Value><![CDATA[]]></Value>
    </getInTouchContent>
    <headline>
      <Value><![CDATA[How to contact JNCC 2]]></Value>
    </headline>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "03a20ceb-7024-438b-a873-d6e6eb95c113",
    "mediaKey": "3770fe63-b653-493e-a7a8-e4b3158b9d5d"
  }
]]]></Value>
    </heroImage>
    <hTMLLangRef>
      <Value><![CDATA[]]></Value>
    </hTMLLangRef>
    <mainContent>
      <Value><![CDATA[<p><span>Please use the form below to get in touch with your feedback or enquiries.</span></p>
<?UMBRACO_MACRO macroAlias="renderUmbracoForm" FormGuid="5f818bdf-2b25-4e3b-91d4-b66b3be61306" FormTheme="foundation6" ExcludeScripts="1" />
<p> </p>
<p><strong>How we use your data:</strong> By submitting this contact form you are confirming you are happy for us to store your contact details and the details of any query, comment or complaint, to allow us to respond. We are doing this in line with our legal obligation or public task (if relating to our statutory functions), or our legitimate interests (if relating to the other services we provide). This includes Freedom of Information requests, Environmental Information Regulations requests, requests for information relating to you (Subject Access Requests) and general enquiries. We will keep details of such communications for three years and will not share this information with others unless you ask us to.</p>
<p>For details, see our full <a data-udi="umb://document/d6a6b73c64604f2bbbe18d1415912b1b" href="/{localLink:umb://document/d6a6b73c64604f2bbbe18d1415912b1b}" title="Privacy statement">privacy statement</a>.</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></Value>
    </mainContent>
    <noIndex>
      <Value><![CDATA[0]]></Value>
    </noIndex>
    <pageSpecificAlertContent>
      <Value><![CDATA[]]></Value>
    </pageSpecificAlertContent>
    <pageSpecificBodyIncludes>
      <Value><![CDATA[<input type="hidden" name="hidden" value="{umbraco.library:Request('UrlReferrer')}"/>]]></Value>
    </pageSpecificBodyIncludes>
    <pageSpecificHeadIncludes>
      <Value><![CDATA[<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>]]></Value>
    </pageSpecificHeadIncludes>
    <publishedDate>
      <Value><![CDATA[2019-06-20T00:00:00]]></Value>
    </publishedDate>
    <relatedItems>
      <Value><![CDATA[]]></Value>
    </relatedItems>
    <seoSettings>
      <Value><![CDATA[<SEOChecker>
  <focusKeyword></focusKeyword>
  <seoTitle></seoTitle>
  <seoKeywords></seoKeywords>
  <seoDescription></seoDescription>
  <culture />
</SEOChecker>]]></Value>
    </seoSettings>
    <showRelatedItems>
      <Value><![CDATA[1]]></Value>
    </showRelatedItems>
    <sidebarElsewhereOnOurWebsite>
      <Value><![CDATA[]]></Value>
    </sidebarElsewhereOnOurWebsite>
    <sidebarOtherWebsites>
      <Value><![CDATA[]]></Value>
    </sidebarOtherWebsites>
    <sidebarPrimaryCallToActionButton>
      <Value><![CDATA[]]></Value>
    </sidebarPrimaryCallToActionButton>
    <sidebarSeeAlsoLinks>
      <Value><![CDATA[]]></Value>
    </sidebarSeeAlsoLinks>
    <umbracoNaviHide>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHide>
    <umbracoNaviHideChildren>
      <Value><![CDATA[1]]></Value>
    </umbracoNaviHideChildren>
  </Properties>
</Content>