<?xml version="1.0" encoding="utf-8"?>
<Content Key="3105fdb3-557f-4495-bbef-63d08babd516" Alias="Resources (OLD)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ResourcesOLD</Path>
    <Trashed Parent="ed29cca8-ded4-4ac9-b2e0-ed9904f390dd">true</Trashed>
    <ContentType>redirector</ContentType>
    <CreateDate>2020-04-07T14:44:42</CreateDate>
    <NodeName Default="Resources (OLD)" />
    <SortOrder>32</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <redirect>
      <Value><![CDATA[[{"name":"Resources","url":"https://hub.jncc.gov.uk"}]]]></Value>
    </redirect>
  </Properties>
</Content>