@using JNCC.PublicWebsite.Core.ViewModels
@using Microsoft.Extensions.Logging
@model IEnumerable<VerticalAccordionMenuViewModel>
@if (Model?.Any() ?? false)
{
	<div class="container">
		
		<h2 style="margin-bottom:2rem">Our work themes</h2>

		<div class="row collapse">
			<div class="columns science-landing">
				<ul class="accordion" data-accordion data-allow-all-closed="true">
					@{
						var accordionCount = 0;
						var isActive = string.Empty;

						foreach (var accordionItem in Model)
						{
							isActive = accordionCount == 0 ? "is-active" : "";

							<li class="accordion-item @isActive" data-accordion-item>
								<a href="#" class="accordion-title">@accordionItem.AccordionTitle</a>
								<div class="accordion-content science-landing-accordion-content" data-tab-content>
									@if (accordionItem.Items?.Any() == true)
									{
										<ul>
											@foreach (var sciencePage in accordionItem.Items.OrderBy(x => x.Name))
											{
												<li><a href="@sciencePage.Url()">@sciencePage.Name</a></li>
											}
										</ul>

									}
								</div>
							</li>
							accordionCount++;
						}
					}

				</ul>
			</div>
		</div>
	</div>
}


