@model JNCC.PublicWebsite.Core.Models.IGetInTouchComposition
@if (Model.GetInTouchContent != null && string.IsNullOrWhiteSpace(Model.GetInTouchContent.ToHtmlString()) == false)
{
    <div class="info-section">
        <div class="container">
            <div class="clearfix">
                @Html.Raw(Model.GetInTouchContent)
            </div>
            @if (Model.GetInTouchButton != null)
            {
            <a href="@Model.GetInTouchButton.Url" class="button primary" target="@Model.GetInTouchButton.Target">@Model.GetInTouchButton.Name</a>
            }
        </div>
    </div>
}