@using Umbraco.Cms.Core.Strings;
@model IHtmlEncodedString

@if (Model != null && !string.IsNullOrWhiteSpace(Model.ToString()))
{
    <div class="alert">
        <div class="container alert-container">
            @Html.Raw(Model)
        </div>
    </div>
}