@using JNCC.PublicWebsite.Core.ViewModels
@model IEnumerable<RelatedItemViewModel>

@if (Model?.Any() ?? false)
{
    <section class="links-section">
        <div class="container">
            <h2>Related links</h2>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="columns small-12 medium-4">
                        <a href="@item.Url" class="card">
                            @if (string.IsNullOrWhiteSpace(item.ImageUrl) == false)
                            {
                                <span class="img-holder" style="background-image: url(@item.ImageUrl);"></span>
                            }
                            <span class="card-section"><strong>@item.Title</strong> @Html.Raw(item.Content)</span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}