@using JNCC.PublicWebsite.Core.ViewModels
@model SeoMetaDataViewModel
<title>@Model.Title</title>
@if (string.IsNullOrWhiteSpace(Model.Description) == false)
{
    <meta name="description" content="@Model.Description" />
}
@if (string.IsNullOrWhiteSpace(Model.Keywords) == false)
{
    <meta name="keywords" content="@Model.Keywords" />
}
@if (Model.NoIndex == true)
{
    <meta name="robots" content="noindex" />
}