<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="noreply@jncc.gov.uk">
				<network host="10.70.0.230" />
			</smtp>
		</mailSettings>
	</system.net>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
					<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
					<add name="Permissions-Policy" value="interest-cohort=()" />

					<add name="Cross-Origin-Opener-Policy" value="same-origin" />
					<add name="Cross-Origin-Resource-Policy" value="same-origin" />
				</customHeaders>
			</httpProtocol>
			<security>
				<requestFiltering removeServerHeader="true" />
			</security>
			<rewrite>
				<rules configSource="RewriteRules.config" />
			</rewrite>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\JNCC.PublicWebsite.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 42B2F2CE-8571-4931-9E45-467CE3623615-->