<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="noreply@jncc.gov.uk">
				<network host="10.70.0.230" />
			</smtp>
		</mailSettings>
	</system.net>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
					<add name="Content-Security-Policy" value="default-src *; img-src data: 'unsafe-inline' 'unsafe-eval'" />
					<add name="Referrer-Policy" value="strict-origin" />
					<add name="Permissions-Policy" value="accelerometer=*, ambient-light-sensor=*, autoplay=*, battery=*, camera=*, cross-origin-isolated=*, display-capture=*, document-domain=*, encrypted-media=*, execution-while-not-rendered=*, execution-while-out-of-viewport=*, fullscreen=*, geolocation=*, gyroscope=*, keyboard-map=*, magnetometer=*, microphone=*, midi=*, navigation-override=*, payment=*, picture-in-picture=*, publickey-credentials-get=*, screen-wake-lock=*, sync-xhr=*, usb=*, web-share=*, xr-spatial-tracking=*, clipboard-read=*, clipboard-write=*, gamepad=*, speaker-selection=*, conversion-measurement=*, focus-without-user-activation=*, hid=*, idle-detection=*, interest-cohort=*, serial=*, sync-script=*, trust-token-redemption=*, unload=*, window-placement=*, vertical-scroll=*" />
				</customHeaders>
			</httpProtocol>
			<security>
				<requestFiltering removeServerHeader="true" />
			</security>
			<rewrite>
				<rules>
					<rule name="Redirect HTTP to HTTPS" stopProcessing="true">
						<match url=".*" />
						<conditions>
							<add input="{HTTPS}" pattern="^OFF$" />
							<add input="{HTTP_HOST}" negate="true" pattern="^localhost(:[0-9]+)?$" />
							<add input="{REQUEST_URI}" negate="true" pattern="^/\.well-known/acme-challenge/" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:0}" redirectType="Permanent" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>
