<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp from="noreply@jncc.gov.uk">
				<network host="10.70.0.230" />
			</smtp>
		</mailSettings>
	</system.net>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
					<add name="Content-Security-Policy-Report-Only" value="default-src 'self';
						 base-uri 'none';
						 img-src 'self' *.gov.uk www.google-analytics.com ssl.google-analytics.com stats.g.doubleclick.net www.googletagmanager.com www.region1.google-analytics.com region1.google-analytics.com region1.analytics.google.com www.google.co.uk https://img.youtube.com https://i.ytimg.com;
						 script-src 'self' www.google-analytics.com ssl.google-analytics.com stats.g.doubleclick.net www.googletagmanager.com www.region1.google-analytics.com region1.google-analytics.com region1.analytics.google.com www.google.co.uk www.gstatic.com *.ytimg.com www.youtube.com www.youtube-nocookie.com cdnjs.cloudflare.com *.aspnetcdn.com *.civiccomputing.com *.azure.com 'sha256-cFDK7zS/LnRy9jW0Rgec+b8qX8vt7+S5Mvb0bcNktHQ=' 'sha256-8I9lYH3RZwaYQVTy5WkRtQqk9GGGTfdInCMAeUt6U9Q=' 'sha256-G98Ynwi2gQAL7+NptQ9lUatzGKCyPfV4i5g0jpVsClU=';
						 style-src 'self' www.gstatic.com *.fontawesome.com *.googleapis.com 'nonce-k2svo49hkrmbs5s3g4t4awmg';
						 font-src 'self' *.fontawesome.com *.googleapis.com *.gstatic.com;
						 connect-src 'self' *.gov.uk www.google-analytics.com ssl.google-analytics.com stats.g.doubleclick.net www.googletagmanager.com www.region1.google-analytics.com region1.google-analytics.com region1.analytics.google.com www.google.co.uk *.civiccomputing.com *.googleapis.com *.azure.com;
						 object-src 'none';
						 frame-src 'self' *.gov.uk www.youtube.com www.youtube-nocookie.com;
						 frame-ancestors 'self' *.gov.uk;" />
					<add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
					<add name="Permissions-Policy" value="interest-cohort=()" />
					
					<add name="Cross-Origin-Opener-Policy" value="same-origin" />
					<add name="Cross-Origin-Resource-Policy" value="same-origin" />
				</customHeaders>
			</httpProtocol>
			<security>
				<requestFiltering removeServerHeader="true" />
			</security>
			<rewrite>
				<rules configSource="RewriteRules.config" />
			</rewrite>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\JNCC.PublicWebsite.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 42B2F2CE-8571-4931-9E45-467CE3623615-->