@using JNCC.PublicWebsite.Core.Models
@model ScienceLandingPage
@if (string.IsNullOrWhiteSpace(Model.FeaturedQuote) == false)
{
	<div class="container">
		<div class="featured-quote">
			<div class="row">
				
					<p>@Model.FeaturedQuote</p>
				
			</div>
		</div>
	</div>
}