@using JNCC.PublicWebsite.Core.Models
@model ScienceLandingPage
@if (string.IsNullOrWhiteSpace(Model.FeaturedQuote) == false)
{
	<div class="container">
		<div class="featured-quote text-block">
			<div class="row">
				@Html.Raw(Model.FeaturedQuote)
			</div>
		</div>
	</div>
}