@using JNCC.PublicWebsite.Core.ViewModels
@model ScienceLatestUpdatesSectionViewModel
@if (Model.Pages?.Any() ?? false)
{
    <section class="articles-section resources latest-updates">
        <div class="container">
            <h2 style="margin-bottom:2rem">Latest updates</h2>
            <div class="row row1">
                @foreach (var item in Model.Pages)
                {
                    <div class="columns small-12 medium-4">
                        <div class="card">
	                        <div class="card-section">
		                        <h3>
			                        <a href="@item.ReadMoreLink.Url" target="@item.ReadMoreLink.Target">
				                        @item.Title
			                        </a>
		                        </h3>
		                        @Html.Raw(item.Content)
	                        </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}