@using JNCC.PublicWebsite.Core.ViewModels;
@model CarouselViewModel
@if (Model != null)
{
    <div class="visual-section">
        <div class="container">
            <div class="row">
                <div class="columns medium-8">
                    <h1>@Model.Headline</h1>
                    @if (Model.Text != null && string.IsNullOrWhiteSpace(Model.Text.ToHtmlString()) == false)
                    {
                        <div class="text-block">
                            @Html.Raw(Model.Text)
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (Model?.Images?.Any() ?? false)
        {
            <div class="main-slider">
                @foreach (var image in Model.Images)
                {
                    <div class="slide">
                        <div class="slider-image" style="background-image: url(@image.Url);"></div>

                        @if (!image.TitleText.IsNullOrWhiteSpace())
                        {
                            <div class="carousel-copyright-statement">
                                <div class="text">
                                    @image.TitleText
                                </div>
                            </div>
                        }

                    </div>
                }
            </div>
        }
    </div>
}