@using JNCC.PublicWebsite.Core.Models
@using JNCC.PublicWebsite.Core.ViewModels
@using Umbraco.Cms.Core.Models.Blocks
@model ArticlesContentVideoSchemaSectionViewModel

@if (Model.Content?.Video != null)
{
	<div class="responsive-embed">
		@Html.Raw(Model.Content.Video)
	</div>
}