@using JNCC.PublicWebsite.Core.ViewModels;
@model ArticlesContentViewModel

@if (Model?.SubSections?.Any() ?? false)
{
    @if(Model.ShowTableOfContents)
    {
        <div class="row">
            <div class="columns small-12 medium-12 callout toc">
                <h2 id="toc">Contents</h2>
                <ol>
                    @foreach (var section in Model.SubSections)
                    {
                        if (!section.HideHeadline)
                        {
                            <li>
                                <a href="#@(section.HtmlId)">@(section.Headline)</a>
                            </li>
                        }
                    }
                </ol>
            </div>
        </div>
    }
    
    foreach (var section in Model.SubSections)
    {
        if (!section.HideHeadline)
        {
            <h2 id="@(section.HtmlId)">@(section.Headline)</h2>
        }

        @(await Html.PartialAsync(string.Format("~/Views/Partials/Articles/{0}.cshtml", section.PartialViewName), section))

        if (!section.HideHeadline)
        {
            <p class="text-right"><a href="#toc" class="return-to-top">Top <i class="step fi-arrow-up"></i></a></p>
        }
    }
}