@using JNCC.PublicWebsite.Core.ViewModels
@model CategorisedPagesViewModel

@if (Model?.Pages?.Any() ?? false)
{
    <h2>Pages in @Model.Heading</h2>
    <div class="row small-collapse small-up-1 medium-up-2">
        @foreach (var kvp in Model.Pages)
        {
            <div class="column">
                <h3>@kvp.Key</h3>
                <ul>
                    @foreach (var pageItem in kvp.Value)
                    {
                        <li><a href="@pageItem.Url">@pageItem.Text</a></li>
                    }
                </ul>
            </div>
        }
    </div>
}