<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbcb0707-021d-4cd4-ba8b-5cc891516c28" Alias="Articulate Rich Text" Level="1">
  <Info>
    <Name>Articulate Rich Text</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "code",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "cms",
      "floats",
      "headings",
      "highlighting"
    ],
    "dimensions": {
      "height": 500
    },
    "maxImageSize": 500
  },
  "OverlaySize": null,
  "HideLabel": true,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>