<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d7e8c8fb-892e-42ec-ba25-20298c88d1d1" Alias="Blog Comments Form Picker" Level="1">
  <Info>
    <Name>Blog Comments Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>