<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91c97a74-2e52-44cb-a35a-a2ca1fc10ee7" Alias="Checkbox (Default: True)" Level="1">
  <Info>
    <Name>Checkbox (Default: True)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "ShowLabels": false,
  "LabelOn": null,
  "LabelOff": null
}]]></Config>
</DataType>