<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8682684c-8a26-4e22-b465-00b164f63805" Alias="Dropdown: Image Position" Level="1">
  <Info>
    <Name>Dropdown: Image Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 314,
      "value": "Left"
    },
    {
      "id": 315,
      "value": "Right"
    },
    {
      "id": 316,
      "value": "Top"
    }
  ]
}]]></Config>
</DataType>