<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70ad520f-1e0f-4335-aca8-b413762414c0" Alias="Dropdown: Article Type" Level="1">
  <Info>
    <Name>Dropdown: Article Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 18,
      "value": "News Item"
    },
    {
      "id": 19,
      "value": "Case Study"
    },
    {
      "id": 20,
      "value": "Press Release"
    },
    {
      "id": 21,
      "value": "Event"
    },
    {
      "id": 22,
      "value": "Blog"
    }
  ]
}]]></Config>
</DataType>