<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5d023a23-43d4-4b39-ac02-3e43c92eab97" Alias="Image Text Schema Section - Science Details" Level="1">
  <Info>
    <Name>Image Text Schema Section - Science Details</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1baaa72c-9cf5-4fd0-8b32-0aa92943e691",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "8ef610c6-84d4-41bd-be63-aac3583d615a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>