<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ec4bbd0c-3a86-4dbf-9e9c-78c9a038788b" Alias="List View - NewsAndInsightsLandingPage" Level="1">
  <Info>
    <Name>List View - NewsAndInsightsLandingPage</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "PageSize": 10,
  "OrderBy": "updateDate",
  "OrderDirection": "desc",
  "IncludeProperties": [
    {
      "alias": "articleType",
      "header": "Article Type",
      "nameTemplate": null,
      "isSystem": 0
    },
    {
      "alias": "publishDate",
      "header": "Publish Date",
      "nameTemplate": null,
      "isSystem": 0
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "owner",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": false
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": false,
    "allowBulkDelete": true
  },
  "Icon": null,
  "TabName": "Articles",
  "ShowContentFirst": false,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>