<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ba425413-7216-4e4b-b3f9-fd9b15f3df7d" Alias="List View - StaffDirectoryPage" Level="1">
  <Info>
    <Name>List View - StaffDirectoryPage</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "PageSize": 10,
  "OrderBy": "name",
  "OrderDirection": "asc",
  "IncludeProperties": [
    {
      "alias": "jobTitle",
      "header": "Job Title",
      "nameTemplate": null,
      "isSystem": 0
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "nameTemplate": null,
      "isSystem": 1
    },
    {
      "alias": "owner",
      "header": "Created by",
      "nameTemplate": null,
      "isSystem": 1
    }
  ],
  "Layouts": [
    {
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "icon": "icon-list",
      "isSystem": 1,
      "selected": true
    },
    {
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "selected": true
    }
  ],
  "BulkActionPermissions": {
    "allowBulkPublish": true,
    "allowBulkUnpublish": true,
    "allowBulkCopy": true,
    "allowBulkMove": false,
    "allowBulkDelete": true
  },
  "Icon": null,
  "TabName": "Staff Profiles",
  "ShowContentFirst": false,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>