<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6ca9494-926e-4122-b019-2b61d55e9e49" Alias="[MNTP] - Latest Updates - Science Details - Max 3" Level="1">
  <Info>
    <Name>[MNTP] - Latest Updates - Science Details - Max 3</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "scienceDetailsPage,scienceCategoryPage",
  "MinNumber": 0,
  "MaxNumber": 3,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>