<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fef70ce8-78e3-44d2-95da-691757ed23bc" Alias="[MNTP] - Vertical Accordion Menu - Science Category  Science Detail" Level="1">
  <Info>
    <Name>[MNTP] - Vertical Accordion Menu - Science Category  Science Detail</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "scienceCategoryPage,scienceDetailsPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>