<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dae3e09-a3b1-4a28-b678-574a7febac0b" Alias="Multi Url Picker" Level="1">
  <Info>
    <Name>Multi Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": "small",
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>