<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8d1243b8-c080-49bd-b328-064fe30445a0" Alias="Multiple Image Picker" Level="1">
  <Info>
    <Name>Multiple Image Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image",
  "Multiple": true,
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": true,
  "Crops": []
}]]></Config>
</DataType>