<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8e1084a1-a39f-4701-a2ff-4c8789583cb5" Alias="Nested Content: Single Content Image" Level="1">
  <Info>
    <Name>Nested Content: Single Content Image</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "contentImageSchema",
      "ncTabAlias": "Content",
      "nameTemplate": "{{imageAlternativeText}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 1,
  "ConfirmDeletes": false,
  "ShowIcons": false,
  "HideLabel": false
}]]></Config>
</DataType>