<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c94bb35b-3348-4e79-8969-c76f024d9726" Alias="Nested Content: Featured Resources" Level="1">
  <Info>
    <Name>Nested Content: Featured Resources</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "featuredResourceSchema",
      "ncTabAlias": "Content",
      "nameTemplate": "{{headline}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>