<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acd5cba5-a249-4f2e-9caa-1398303ba80f" Alias="Nested Content: Resource Items" Level="1">
  <Info>
    <Name>Nested Content: Resource Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "resourceItemSchema",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>