<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2bee36f-b980-4ca7-8363-e52d2ee0ee13" Alias="Nested Content: Carousel" Level="1">
  <Info>
    <Name>Nested Content: Carousel</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "carouselItemSchema",
      "ncTabAlias": "Content",
      "nameTemplate": "{{headline}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>