<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62f4873a-48d9-49b5-9b14-f8015f980661" Alias="Nested Content: Related Items" Level="1">
  <Info>
    <Name>Nested Content: Related Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "relatedItemSchema",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>