<?xml version="1.0" encoding="utf-8"?>
<DataType Key="21c2bc67-675a-4f16-b7d1-e1a5f1ac2d60" Alias="Nested Content: Categorised Footer Links" Level="1">
  <Info>
    <Name>Nested Content: Categorised Footer Links</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "categorisedFooterLinksSchema",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 3,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>