<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2857d47-af88-48ca-98c7-959a6a73988c" Alias="Nested Content: Callout Cards" Level="1">
  <Info>
    <Name>Nested Content: Callout Cards</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "calloutCardSchema",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": 0,
  "MaxItems": 0,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>