<?xml version="1.0" encoding="utf-8"?>
<DataType Key="071d82ff-7d46-4ad0-a8fd-aa1723606de6" Alias="nuPickers.DotNetDropDownPicker" Level="1">
  <Info>
    <Name>nuPickers.DotNetDropDownPicker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": []
}]]></Config>
</DataType>