<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f68e38ac-2223-46f5-9ba2-67af9107c3b7" Alias="Related links: Single Item" Level="1">
  <Info>
    <Name>Related links: Single Item</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 0,
  "OverlaySize": null,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>