<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f48ef600-c7f9-4426-90e8-0ec7cf5d0ca2" Alias="Rich Text Editor: Carousel Content" Level="1">
  <Info>
    <Name>Rich Text Editor: Carousel Content</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/highlighting.css",
      "/css/headings.css",
      "/css/floats.css"
    ],
    "dimensions": {
      "height": 500
    },
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>