<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3254cb2-d5d8-4bf5-b461-74bc93a0d16b" Alias="Rich Text Editor: Internal Text Page" Level="1">
  <Info>
    <Name>Rich Text Editor: Internal Text Page</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "umbmacro",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/floats.css",
      "/css/headings.css",
      "/css/highlighting.css"
    ],
    "dimensions": {
      "height": 500
    },
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>