<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbb7c860-e61b-4214-ba1b-1eccc2c2a549" Alias="Rich Text Editor: Preamble" Level="1">
  <Info>
    <Name>Rich Text Editor: Preamble</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "link",
      "unlink",
      "anchor",
      "umbmacro",
      "umbembeddialog",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/floats.css",
      "/css/headings.css",
      "/css/highlighting.css"
    ],
    "dimensions": {
      "height": 250
    },
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>