<?xml version="1.0" encoding="utf-8"?>
<DataType Key="92c2c102-2ede-4241-b119-52c06687bfed" Alias="Rich Text Editor: Cookie Banner" Level="1">
  <Info>
    <Name>Rich Text Editor: Cookie Banner</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styleselect",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "link",
      "unlink",
      "subscript",
      "superscript",
      "charmap"
    ],
    "stylesheets": [
      "/css/floats.css",
      "/css/headings.css",
      "/css/highlighting.css"
    ],
    "dimensions": {
      "height": 100
    },
    "maxImageSize": 500,
    "mode": "classic"
  },
  "OverlaySize": "small",
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null
}]]></Config>
</DataType>