<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa58a68e-deab-49b1-b1a9-0a6d892e8d35" Alias="Science Slider Schema - Image  Text - Textarea" Level="1">
  <Info>
    <Name>Science Slider Schema - Image  Text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 100,
  "Rows": null
}]]></Config>
</DataType>