<?xml version="1.0" encoding="utf-8"?>
<DataType Key="457d8757-650d-45c9-8fa6-0c97856b9a4b" Alias="Science Category Page Picker" Level="1">
  <Info>
    <Name>Science Category Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "scienceCategoryPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>