<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b070bc0c-e86e-415e-b192-35e6d01c568b" Alias="Science Details Page Picker" Level="1">
  <Info>
    <Name>Science Details Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "scienceDetailsPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>