<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c4c9c33-a8d6-47e8-88ec-317c67001d9e" Alias="Science Slider Schema - Heading  Text - Text - Textarea" Level="1">
  <Info>
    <Name>Science Slider Schema - Heading  Text - Text - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 160,
  "Rows": null
}]]></Config>
</DataType>