<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fa22b62-89b2-4b21-a165-321736dde774" Alias="Science Slider Schema - Image  Text - Text - Textbox" Level="1">
  <Info>
    <Name>Science Slider Schema - Image  Text - Text - Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>