<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8fe592e-df50-4a3d-837d-f0a1d81004bd" Alias="SEO Checker" Level="1">
  <Info>
    <Name>SEO Checker</Name>
    <EditorAlias>SEOChecker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ValidationMode": "aftersave",
  "MapTitleProperty": null,
  "MapKeywordsProperty": null,
  "MapDescriptionProperty": null,
  "UseKeywordTag": false,
  "KeywordSelectionTool": "https://keywordtool.io/"
}]]></Config>
</DataType>