<?xml version="1.0" encoding="utf-8"?>
<DataType Key="df78a34b-6980-426a-b722-b18de6af3c91" Alias="Single Image Media Picker" Level="1">
  <Info>
    <Name>Single Image Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "Image,File",
  "Multiple": false,
  "ValidationLimit": {
    "min": null,
    "max": 1
  },
  "StartNodeId": null,
  "IgnoreUserStartNodes": false,
  "EnableLocalFocalPoint": true,
  "Crops": []
}]]></Config>
</DataType>