<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4defdb0e-2165-4f05-8d76-ee484083ff44" Alias="Single Science Category Page Picker" Level="1">
  <Info>
    <Name>Single Science Category Page Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "scienceCategoryPage",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>