<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8afe333-70ac-4f76-83ee-729ef6815d8c" Alias="Slider: Items Per Page" Level="1">
  <Info>
    <Name>Slider: Items Per Page</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 6.0,
  "InitialValue2": 0.0,
  "MinimumValue": 3.0,
  "MaximumValue": 30.0,
  "StepIncrements": 3.0
}]]></Config>
</DataType>