<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d96fcef-bc65-4210-962c-7a6f370c7871" Alias="Stacked Content: Science iFrame Section Sub Sections" Level="1">
  <Info>
    <Name>Stacked Content: Science iFrame Section Sub Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "84099b3e-4375-4f0c-b02f-77d095e6160a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "cee98260-3c18-4a19-a8d1-7528d9e824a3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5be221e6-428a-4f3d-8879-f11ed7c5a484",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e171450c-4294-47bd-9307-5a9f6d3e282a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>