<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4fae47b0-5a45-4310-9ae2-7c8063487870" Alias="Stacked Content: Biz Dev Service Page" Level="1">
  <Info>
    <Name>Stacked Content: Biz Dev Service Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e38ff089-80ca-4cb4-8fa7-ae8901c3f0ba",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ee1589a3-b2a8-4594-b205-3c7ba5a822f5",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Video",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>