<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b138a199-50a1-4cde-856a-e1a79a6f11d2" Alias="Stacked Content: Science Slider Sections" Level="1">
  <Info>
    <Name>Stacked Content: Science Slider Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "457390df-af22-4eee-92e3-ea8cd69ed6ed",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "09577b99-c57a-4ccb-8d18-d5b18cb81b0d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>