<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5572a56-e77e-4f8f-8867-39533449d377" Alias="Stacked Content: Vertical Accordion Menu" Level="1">
  <Info>
    <Name>Stacked Content: Vertical Accordion Menu</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "f96288ff-b810-41b0-bb28-e8c29461442d",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{accordionTitle}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>