<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1305771e-64f7-4a84-8e05-809e151d6847" Alias="Stacked Content: Science Category Section Sub Sections" Level="1">
  <Info>
    <Name>Stacked Content: Science Category Section Sub Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "8a9eff86-f904-474e-9d2a-f82f5e21d79e",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "a1797505-33ee-4e59-8a9d-c21e8fe15fe4",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "4c25c5ed-8361-4aac-ad08-a6f063532bcc",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "5a0efac1-d74f-49c8-9bfe-263d6646815a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6eb1124a-1431-4b90-8df9-1f6d00d64638",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>