<?xml version="1.0" encoding="utf-8"?>
<DataType Key="300e605e-5cf5-4272-8ced-762006f0a363" Alias="Stacked Content: Articles Section Sub Sections" Level="1">
  <Info>
    <Name>Stacked Content: Articles Section Sub Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "57556c51-78a6-497c-bce7-5f0a3f510388",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "981336bb-3188-4bd1-8a62-205fd6dfa5ef",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "0142b36f-7da5-49c5-90cf-0868057dc985",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "fe309b15-c340-4c08-9279-b227455d82b1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "d1ba32b8-ab93-4101-928a-4b0f60e65644",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "e38ff089-80ca-4cb4-8fa7-ae8901c3f0ba",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "ee1589a3-b2a8-4594-b205-3c7ba5a822f5",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "{{headline}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>