<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f3150225-716d-4317-8518-7cdd1de21222" Alias="Tags: Locations" Level="1">
  <Info>
    <Name>Tags: Locations</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "Locations",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>