<?xml version="1.0" encoding="utf-8"?>
<DataType Key="76e15fc0-7d1b-4d83-b839-bc103212a0c6" Alias="Tags: Teams" Level="1">
  <Info>
    <Name>Tags: Teams</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "teams",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>