<?xml version="1.0" encoding="utf-8"?>
<DataType Key="05308cbf-ff41-4b28-88eb-a30a54d0bf27" Alias="Tags: Themes" Level="1">
  <Info>
    <Name>Tags: Themes</Name>
    <EditorAlias>Umbraco.Tags</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Group": "themes",
  "StorageType": 1,
  "Delimiter": "\u0000"
}]]></Config>
</DataType>