<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb5f57c9-ce2b-4bb9-b697-4caca783a805" Alias="Text and Image Radiobox" Level="1">
  <Info>
    <Name>Text and Image Radiobox</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 254,
      "value": "Left"
    },
    {
      "id": 255,
      "value": "Right"
    },
    {
      "id": 256,
      "value": "Top"
    }
  ]
}]]></Config>
</DataType>