@using JNCC.PublicWebsite.Core.ViewModels;
@model IEnumerable<NavigationItemViewModel>

@if (Model?.Any() ?? false)
{
    <p><strong>Categories:</strong></p>
    <p class="tags">
        @foreach (var category in Model)
        {<a class="label location" href="@category.Url">@category.Text</a>}
    </p>
}