<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8762f228-e971-49d7-a3a8-ba7976e37a89" Alias="alertComposition" Level="2">
  <Info>
    <Name>Alert Composition</Name>
    <Icon>icon-alert color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b98e47a8-2daf-48e8-85e9-adcf595f5824</Key>
      <Name>Alert Content</Name>
      <Alias>pageSpecificAlertContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When populated this will show at the top of page body]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="alert">Alert</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>55d767c4-0d23-4a45-b23f-b27bab77ef90</Key>
      <Caption>Alert</Caption>
      <Alias>alert</Alias>
      <Type>Group</Type>
      <SortOrder>150</SortOrder>
    </Tab>
  </Tabs>
</ContentType>