<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cb35e9f1-0716-438f-8227-97d45c9dde36" Alias="ArticlePage" Level="2">
  <Info>
    <Name>Article Page</Name>
    <Icon>icon-newspaper-alt color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for news items &amp; case studies.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="e7e93a2f-7067-40bb-a19b-7fc212604a32">relatedItemsComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>ArticlePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="901269c8-d46f-4e93-8717-2347a1f7acf6">ArticlePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>118dfd97-07d5-4294-9919-7c5e1921ddad</Key>
      <Name>Themes</Name>
      <Alias>articleThemes</Alias>
      <Definition>05308cbf-ff41-4b28-88eb-a30a54d0bf27</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The theme(s) related to this article page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="categorisation">Categorisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>65045c36-4817-4498-8723-a1ecc7a24494</Key>
      <Name>Article Type</Name>
      <Alias>articleType</Alias>
      <Definition>70ad520f-1e0f-4335-aca8-b413762414c0</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Classifies the article so it can be filtered by users.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="categorisation">Categorisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6c2a0a8-3d65-4950-a103-7afcfb30a976</Key>
      <Name>Content</Name>
      <Alias>landingPageContent</Alias>
      <Definition>0f382dde-6b16-4cf7-b834-8e4dc6a0da00</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief paragraph describing this article when listed on the News and Insights Landing Page.
(MAX 150 CHARACTERS)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="landingPage">Landing Page</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d1e8aab2-2b23-412a-9e9d-7021643b01a7</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>b3254cb2-d5d8-4bf5-b461-74bc93a0d16b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content for the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca0e51d0-9b6d-4429-a1df-7d0481c48e87</Key>
      <Name>Main Content Blocks</Name>
      <Alias>mainContentBlocks</Alias>
      <Definition>32e92739-8891-44ed-b73b-8e59544afcf4</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>983d8b62-85f0-4ab6-985d-4e16ed014086</Key>
      <Name>Publish Date</Name>
      <Alias>publishDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the displayed publish date of the page. It may also also be used for sorting the article chronologically.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="categorisation">Categorisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3bf71d0-91c4-423a-8090-50c451eb781f</Key>
      <Name>Reviewed Date</Name>
      <Alias>reviewedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date the page last had a meaningful editorial review.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="categorisation">Categorisation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a9d9e7dc-2d99-4646-87cb-af4a68fe56ce</Key>
      <Name>Show Table of Contents</Name>
      <Alias>showTableOfContents</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>504ce2ba-1851-47b4-abf3-20d301d337fc</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5e0d367a-0051-40a1-9e10-f94f8f708c27</Key>
      <Caption>Categorisation</Caption>
      <Alias>categorisation</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>182bca7c-48df-4f29-b6cf-365f34043b5b</Key>
      <Caption>Landing Page</Caption>
      <Alias>landingPage</Alias>
      <Type>Group</Type>
      <SortOrder>51</SortOrder>
    </Tab>
  </Tabs>
</ContentType>