<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6cbc3cf5-5b50-4009-8541-5f36f87bde6e" Alias="articlesSubSectionImageGallerySchema" Level="3">
  <Info>
    <Name>Articles Sub Section Image Gallery Schema</Name>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Articles Sub Section for authoring an Image Gallery.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e5ae3904-99f0-4c57-abca-b8a2edf8aeb6">articlesSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="e5ae3904-99f0-4c57-abca-b8a2edf8aeb6">articlesSectionBaseSchema</Composition>
      <Composition Key="117afd91-56b7-48f9-8b05-bf7fc5f62729">articlesSectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e5af1f0b-99a8-4ba2-9937-c91dc68fa615</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>8d1243b8-c080-49bd-b328-064fe30445a0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The images used for the image gallery.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f25b7ee7-bd44-4c83-9a89-73dda2cd7fcc</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>