<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fe309b15-c340-4c08-9279-b227455d82b1" Alias="articlesSectionRichTextSchema" Level="3">
  <Info>
    <Name>Articles Section Rich Text Schema</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An Article Section that offers a Rich Text editor for generic written content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e5ae3904-99f0-4c57-abca-b8a2edf8aeb6">articlesSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="e5ae3904-99f0-4c57-abca-b8a2edf8aeb6">articlesSectionBaseSchema</Composition>
      <Composition Key="117afd91-56b7-48f9-8b05-bf7fc5f62729">articlesSectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>013cccd1-a070-4c30-83fd-90c1628a48ed</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>72158602-8a67-4e60-b6b9-83f122f14a21</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e46280fd-bb03-4b5e-b0db-3d6db1c8259f</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>