<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="297dda1f-be11-4ab7-87d2-18b49d089a5a" Alias="ArticulateRichText" Level="2">
  <Info>
    <Name>Articulate Rich Text</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="71bb6811-715f-43be-9fa8-268f06ec23b3">ArticulatePost</Parent>
    <Compositions>
      <Composition Key="71bb6811-715f-43be-9fa8-268f06ec23b3">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>477c32b9-f4a5-43c2-bebf-461cb8c79a18</Key>
      <Name>Rich Text</Name>
      <Alias>richText</Alias>
      <Definition>dbcb0707-021d-4cd4-ba8b-5cc891516c28</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>957326f0-535e-4e65-804b-69d4aabcb384</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>