<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6adcfc83-36ec-45a4-98b0-98aea7fa1fcf" Alias="ArticulateMarkdown" Level="2">
  <Info>
    <Name>Articulate Markdown</Name>
    <Icon>icon-post-it color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="71bb6811-715f-43be-9fa8-268f06ec23b3">ArticulatePost</Parent>
    <Compositions>
      <Composition Key="71bb6811-715f-43be-9fa8-268f06ec23b3">ArticulatePost</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Key>ac37d260-c565-458f-97fe-40a5bf02fa5f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>