<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="298d2f6f-9131-440d-888c-073464816ba9" Alias="articlesSubSectionSliderSchema" Level="3">
  <Info>
    <Name>Articles Sub Section Slider Schema</Name>
    <Icon>icon-pictures-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Articles Sub-Section that offers a slider component to be built with multiple items.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="e5ae3904-99f0-4c57-abca-b8a2edf8aeb6">articlesSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="e5ae3904-99f0-4c57-abca-b8a2edf8aeb6">articlesSectionBaseSchema</Composition>
      <Composition Key="117afd91-56b7-48f9-8b05-bf7fc5f62729">articlesSectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>53882c22-2bb6-4f3f-ac11-ea66688a1bc3</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to display above the image slider.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15ed902d-bd73-4583-96db-5b5fb1c1319e</Key>
      <Name>Show Grey Background</Name>
      <Alias>showGreyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" all slider items will have a grey background applied. By default no background will be applied.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>00fac1c8-d1f7-45b7-a348-a3c452e199fb</Key>
      <Name>Show Timeline Arrows</Name>
      <Alias>showTimelineArrows</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" a timeline arrow will be added between the slider items. By default no timeline arrows will be applied.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c89646c7-18bc-4b4d-8f76-994b82309d90</Key>
      <Name>Slider Items</Name>
      <Alias>sliderItems</Alias>
      <Definition>b138a199-50a1-4cde-856a-e1a79a6f11d2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section to create the slider items displayed, the order of these items will determine the order the items are displayed in the slider.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bab941d2-c14c-4e96-b38b-222f8623d9d9</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>