<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="117afd91-56b7-48f9-8b05-bf7fc5f62729" Alias="articlesSectionSubSectionsSchemaComposition" Level="2">
  <Info>
    <Name>Articles Section Sub Sections Schema Composition</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b6d938c9-8d97-4782-ac39-fa7d465af4c9</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>300e605e-5cf5-4272-8ced-762006f0a363</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional sub sections which will be rendered below the content of this section.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>adef82ce-1502-4ab5-ab63-4dfc2f4fa7ac</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>