<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9126e2ee-236c-4a42-ac9b-bb25bafbbe18" Alias="bizDevServicePage" Level="2">
  <Info>
    <Name>Biz Dev Service Page</Name>
    <Icon>icon-briefcase color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An page which highlights services for a specific area of business development.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="22838cc0-ea91-49ed-8ba0-4dc808726329">getInTouchComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="96135853-b8f0-4e8f-9172-8b6e72dd903b">pageMetaInformationComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="e7e93a2f-7067-40bb-a19b-7fc212604a32">relatedItemsComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>BizDevServicePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="25f53633-836a-48c2-ad01-412e3639d6f4">BizDevServicePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9126e2ee-236c-4a42-ac9b-bb25bafbbe18" SortOrder="0">bizDevServicePage</ContentType>
    <ContentType Key="5a06cc8a-c356-49f4-b3da-bb85686713a3" SortOrder="1">genericListingPage</ContentType>
    <ContentType Key="5f83c745-72b5-4fd3-953d-5f1504567a4e" SortOrder="2">iFramePage</ContentType>
    <ContentType Key="cd6ed229-bfb9-4a5e-ae00-7b51cf15ed9a" SortOrder="3">internalTextPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3c626f75-bb1e-462b-b04e-59d5685ca1f4</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>4fae47b0-5a45-4310-9ae2-7c8063487870</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content of the page.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e0554876-f4a8-4d1c-8bde-2d57b339916a</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductory content explaining the nature of the service offered.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>86ce3f2a-0d38-4958-ab02-1bf46f1caced</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>