<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f446c13c-75eb-4970-a311-e29f3a91096c" Alias="careersLandingPage" Level="2">
  <Info>
    <Name>Careers Landing Page</Name>
    <Icon>icon-reception color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>An introductory page for displaying the latest job opportunities.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="22838cc0-ea91-49ed-8ba0-4dc808726329">getInTouchComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>CareersLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="49f3e41a-a7ce-4714-811c-937601669826">CareersLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="37f159a2-ac73-4f41-bb6a-ec390cb09ea2" SortOrder="0">individualJobPage</ContentType>
    <ContentType Key="cd6ed229-bfb9-4a5e-ae00-7b51cf15ed9a" SortOrder="1">internalTextPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>943fea27-0d92-4103-acc9-ae6433aa6c00</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>4fae47b0-5a45-4310-9ae2-7c8063487870</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4b1ed650-72cf-43d5-91ff-a8f224820c5b</Key>
      <Name>Main Content Heading</Name>
      <Alias>mainContentHeading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Heading displayed under the Current Vacancies section and above the main content]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ad26d05-097f-4d5e-a376-f2ca8761e2b1</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductory content for careers section.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>38f6c407-5c5a-4284-9e51-464b8b99a0fa</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>