<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c13bce71-3a5d-4370-abc3-e9c1aabce4ec" Alias="customErrorPage" Level="2">
  <Info>
    <Name>Custom Error Page</Name>
    <Icon>icon-application-error color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for custom errors like Page Not Found.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
    </Compositions>
    <DefaultTemplate>CustomErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1e5d7755-6ab7-41dc-8e77-f14da4d9a103">CustomErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>240ccaa5-9280-400f-8213-e4d1fb8981b5</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>b3254cb2-d5d8-4bf5-b461-74bc93a0d16b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content of the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dd67ce19-79de-4827-bba6-aa8d99b5ea55</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>