<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a06cc8a-c356-49f4-b3da-bb85686713a3" Alias="genericListingPage" Level="2">
  <Info>
    <Name>Generic Listing Page</Name>
    <Icon>icon-bulleted-list color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for listing child pages in a generic list</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="22838cc0-ea91-49ed-8ba0-4dc808726329">getInTouchComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="e7e93a2f-7067-40bb-a19b-7fc212604a32">relatedItemsComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>GenericListingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3f40a907-6ea5-4dee-be7f-ff56c3dfdd0f">GenericListingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="9126e2ee-236c-4a42-ac9b-bb25bafbbe18" SortOrder="0">bizDevServicePage</ContentType>
    <ContentType Key="5a06cc8a-c356-49f4-b3da-bb85686713a3" SortOrder="1">genericListingPage</ContentType>
    <ContentType Key="5f83c745-72b5-4fd3-953d-5f1504567a4e" SortOrder="2">iFramePage</ContentType>
    <ContentType Key="cd6ed229-bfb9-4a5e-ae00-7b51cf15ed9a" SortOrder="3">internalTextPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>119aa44c-bd68-4822-be13-eb13be066dcf</Key>
      <Name>Items Per Page</Name>
      <Alias>itemsPerPage</Alias>
      <Definition>bb2cb8f7-278d-4a95-b920-7d78004dfc11</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Determines how many pages should be shown per page by default.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>392584f0-78f5-4860-8fd3-8d683aa16455</Key>
      <Name>Post-listing Content</Name>
      <Alias>postListingContent</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Rich text content which will appear below the listing.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0de180ca-3d6b-4b84-b54f-ec3c1b68a967</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductory content explaining the purpose of the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>289972d0-b749-4334-b9cc-9548e628adb4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>