<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22838cc0-ea91-49ed-8ba0-4dc808726329" Alias="getInTouchComposition" Level="2">
  <Info>
    <Name>Get in Touch Composition</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Authoring properties for creating the optional "Get in Touch" section which features at the bottom of the main content for the page.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f0a9adab-e461-4d05-8417-f697394506ed</Key>
      <Name>Get in Touch Button</Name>
      <Alias>getInTouchButton</Alias>
      <Definition>e7b059c4-9afa-41d8-9dfb-06e70fa617aa</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The link & text for the Get in Touch button which accompanies the Get in Touch content below the main content of the page.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="getInTouch">Get in Touch</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>147af2f9-a0cb-4a01-a855-040a25c3ae7e</Key>
      <Name>Get In Touch Content</Name>
      <Alias>getInTouchContent</Alias>
      <Definition>513533c0-7c89-4969-8adf-c41e5b3de339</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional content which appears below the main content of the page. This content is specifically for encouraging website users to navigate to the contact form.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="getInTouch">Get in Touch</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>01426db8-36d1-4386-a3f3-acf19c55d313</Key>
      <Caption>Get in Touch</Caption>
      <Alias>getInTouch</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>