<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d1d1a13-d38c-456c-99f1-3989ef447ca5" Alias="globalIncludesComposition" Level="2">
  <Info>
    <Name>Global Includes Composition</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ae7c68d-6793-4131-926f-042622404181</Key>
      <Name>Global BODY Includes</Name>
      <Alias>globalBodyIncludes</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Authored code includes which will appear on each page and will be rendered at the end of the BODY tag in the HTML.This is useful for adding tracking code. Styling should not be authored here and should instead be authored in the head.This should be edited by administrators only.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="pageIncludes">Page Includes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ba501a5-a042-4bbe-be5a-fc833e28ba82</Key>
      <Name>Global HEAD Includes</Name>
      <Alias>globalHeadIncludes</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Authored code includes which will appear on each page and will be rendered at the end of the HEAD tag in the HTML.This is useful for adding tracking code and style elements.This should be edited by administrators only.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pageIncludes">Page Includes</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>872e204a-de62-4def-aa44-2d9e1ae0fb0e</Key>
      <Caption>Page Includes</Caption>
      <Alias>pageIncludes</Alias>
      <Type>Group</Type>
      <SortOrder>200</SortOrder>
    </Tab>
  </Tabs>
</ContentType>