<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f83c745-72b5-4fd3-953d-5f1504567a4e" Alias="iFramePage" Level="2">
  <Info>
    <Name>iFrame Page</Name>
    <Icon>icon-frame color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page intended to display external content within an iFrame.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>iFramePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fd5dc6b7-11aa-4626-bb3f-a6e404845dd6">iFramePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b508dae0-abd8-4fc5-bb30-37b2c8e12f23</Key>
      <Name>Cookie Disabled Error</Name>
      <Alias>cookieDisabledError</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the message displayed if the user has not accepted the cookies on the website]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>85981f9e-1b68-4450-9f05-c5773a09ba78</Key>
      <Name>Display on Medium Devices ?</Name>
      <Alias>displayOnMediumDevices</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set to true, to display above fallback content on medium devices (Tablet)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="fallbackContent">Fallback Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>938971c9-7345-4caf-9bfa-96372b0ff86b</Key>
      <Name>Display on Small Devices ?</Name>
      <Alias>displayOnSmallDevices</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set to true, to display above fallback content on small devices (Mobile)]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="fallbackContent">Fallback Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>390c6f18-3710-4a89-801e-c7b43a7dd427</Key>
      <Name>Fallback Content</Name>
      <Alias>fallbackContent</Alias>
      <Definition>e5cfd2f8-b4ef-4e86-873e-dc979616d1f8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This content is a text alternative for the mapper page, this will be displayed on the devices set by the toggle switches below]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="fallbackContent">Fallback Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bb8ee27d-b514-4fd6-af27-222b188718cb</Key>
      <Name>Navigation</Name>
      <Alias>navigation</Alias>
      <Definition>8dae3e09-a3b1-4a28-b678-574a7febac0b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[An optional collection of navigation links which is independent of the main navigation and will only appear on this iFrame page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>01481a39-912b-4e9e-9e0d-b27730338616</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>426fc07a-b31a-4b4e-98ea-af5f946827e3</Key>
      <Name>Passthrough Querystring Parameters</Name>
      <Alias>passthroughQuerystringParameters</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Allows any querystrings being passed in via the URL to be appended to the source URL of the the iframe.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4387241f-6a0f-46ec-93e4-60d03494697d</Key>
      <Name>Source URL</Name>
      <Alias>sourceURL</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The URL that displays within the iFrame.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>27ebfe46-277e-4e88-b3c3-d4088753c517</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e0dc61f8-f759-48cb-a8a0-2573761903b9</Key>
      <Caption>Fallback Content</Caption>
      <Alias>fallbackContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>c63dfc11-d3f2-4774-98cd-61fb7f33c110</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>