<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="37f159a2-ac73-4f41-bb6a-ec390cb09ea2" Alias="individualJobPage" Level="2">
  <Info>
    <Name>Individual Job Page</Name>
    <Icon>icon-employee color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for providing details of an individual job</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="22838cc0-ea91-49ed-8ba0-4dc808726329">getInTouchComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="96135853-b8f0-4e8f-9172-8b6e72dd903b">pageMetaInformationComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="e7e93a2f-7067-40bb-a19b-7fc212604a32">relatedItemsComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>IndividualJobPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aae74e80-e6d5-4f6b-894d-2f79c24df419">IndividualJobPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3ac7c201-3816-44bf-82a4-42889fd0ef37</Key>
      <Name>Content</Name>
      <Alias>backgroundContent</Alias>
      <Definition>b3693d87-2f9b-405d-9ddf-544a1002bf30</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="background">Background</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e7f78ddb-daae-4cfc-9b82-2b2495663968</Key>
      <Name>Closing Date</Name>
      <Alias>closingDate</Alias>
      <Definition>e4d66c0f-b935-4200-81f0-025f7256b89a</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0ada9031-43b8-4df0-a086-38984bee3a7c</Key>
      <Name>Content</Name>
      <Alias>competencesContent</Alias>
      <Definition>b3693d87-2f9b-405d-9ddf-544a1002bf30</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="competences">Competences</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b348b21e-f157-4ac4-b86d-06551c1e58ac</Key>
      <Name>Grade</Name>
      <Alias>grade</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>89e8a5a0-fcf9-486c-9503-8adde6c1dea6</Key>
      <Name>Location</Name>
      <Alias>location</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31b4094e-9a2b-4bd6-bc22-196dd70ee1bc</Key>
      <Name>Content</Name>
      <Alias>postDutiesContent</Alias>
      <Definition>b3693d87-2f9b-405d-9ddf-544a1002bf30</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="postDuties">Post Duties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d7b2571-996e-46fb-8302-9a53b313cb2d</Key>
      <Name>Reference Number</Name>
      <Alias>referenceNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d58733c6-ebef-4362-ae2b-088897e36516</Key>
      <Name>Content</Name>
      <Alias>salaryBenefitsContent</Alias>
      <Definition>b3693d87-2f9b-405d-9ddf-544a1002bf30</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="salaryBenefits">Salary &amp; Benefits</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9bf4fb16-abe7-4765-b9e9-21d96f561b3c</Key>
      <Name>Team</Name>
      <Alias>team</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d335ac6c-48f7-4dd4-a4f0-3da7e2c213bb</Key>
      <Name>Type of Appointment</Name>
      <Alias>typeOfAppointment</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>bf3e44a7-7b46-4045-b757-20240dab1a3d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3fc83437-5236-4ac8-b333-9ab64cf43942</Key>
      <Caption>Background</Caption>
      <Alias>background</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>0b49bcd7-318a-4a3e-b758-b906ae9d12a3</Key>
      <Caption>Post Duties</Caption>
      <Alias>postDuties</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>e544e30d-4dec-42bd-b1ea-0f81ce3a3d62</Key>
      <Caption>Competences</Caption>
      <Alias>competences</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5b4cf574-dd1d-4d4f-84bf-dbdf224b3eab</Key>
      <Caption>Salary &amp; Benefits</Caption>
      <Alias>salaryBenefits</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>