<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd6ed229-bfb9-4a5e-ae00-7b51cf15ed9a" Alias="internalTextPage" Level="2">
  <Info>
    <Name>Internal Text Page</Name>
    <Icon>icon-notepad-alt color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for authoring text content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="22838cc0-ea91-49ed-8ba0-4dc808726329">getInTouchComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="96135853-b8f0-4e8f-9172-8b6e72dd903b">pageMetaInformationComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="e7e93a2f-7067-40bb-a19b-7fc212604a32">relatedItemsComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>InternalTextPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="d9d79e96-1aae-44c3-b1bc-6e3532f5be02">InternalTextPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5f83c745-72b5-4fd3-953d-5f1504567a4e" SortOrder="0">iFramePage</ContentType>
    <ContentType Key="cd6ed229-bfb9-4a5e-ae00-7b51cf15ed9a" SortOrder="1">internalTextPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8ea8be37-44d6-4539-aab5-d122bc0313ae</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>b3254cb2-d5d8-4bf5-b461-74bc93a0d16b</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content of the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>840d3c76-905f-457b-a772-060bee031f7b</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>