<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f30c81ec-37f0-4030-9fff-d94cef6a7786" Alias="loginPage" Level="2">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-key color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for users to login to secure areas of website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="251066bd-78a4-4644-9186-8d1bffd6e233">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9e020501-01fe-46f7-9e66-545641778129</Key>
      <Name>Reset Password Page</Name>
      <Alias>resetPasswordPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page members who have forgotten their password can go to reset their password.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0508910f-c3ee-437c-90ac-35911fe5ab19</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>