<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="11fdff54-fcb2-423b-879b-93ea2b233c73" Alias="memberAccountPage" Level="2">
  <Info>
    <Name>Member Account Page</Name>
    <Icon>icon-edit color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for a logged in member to see their account details and change their password on the website.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
    </Compositions>
    <DefaultTemplate>MemberAccountPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9b3169fe-ee6a-4d10-8b80-9940b10f0ca5">MemberAccountPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>