<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="098d59e9-90db-47cb-a5c8-60f59a3339f7" Alias="NewsAndInsightsLandingPage" Level="2">
  <Info>
    <Name>News and Insights Landing Page</Name>
    <Icon>icon-files color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A landing page for news item and case study pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>NewsAndInsightsLandingPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="08c256b9-d84e-4a8a-b699-6043336bff8c">NewsAndInsightsLandingPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="cb35e9f1-0716-438f-8227-97d45c9dde36" SortOrder="0">ArticlePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a8815947-e11d-4631-baf8-a964872d1eb4</Key>
      <Name>Articles Per Page</Name>
      <Alias>articlesPerPage</Alias>
      <Definition>d8afe333-70ac-4f76-83ee-729ef6815d8c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Determines how many articles should be shown per page by default.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="articleListing">Article Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f62b2b7-a663-4ff3-8f8b-9a71812236bb</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductory content that appears before the article listing.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7e5c68ed-7a26-499c-85bd-dc4726e3014c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>0bbe0cfb-75ce-4aac-9cb2-f7a8332d363a</Key>
      <Caption>Article Listing</Caption>
      <Alias>articleListing</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>