<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="96135853-b8f0-4e8f-9172-8b6e72dd903b" Alias="pageMetaInformationComposition" Level="2">
  <Info>
    <Name>Page Meta Information Composition</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>General Meta Information for pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24579b22-72bb-4000-bfc7-24a2373dd099</Key>
      <Name>Published Date</Name>
      <Alias>publishedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date is when the page was first published. This is a required property as a page with a Meta Information must have a published date.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="metaInformation">Meta Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>28bbe132-0a4a-4381-8ae3-a5fbb13be726</Key>
      <Caption>Meta Information</Caption>
      <Alias>metaInformation</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>