<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b435c3f8-6484-47c2-a099-b4e7aec739f2" Alias="redirector" Level="2">
  <Info>
    <Name>Redirector</Name>
    <Icon>icon-redo color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Used to redirect the current url of this page to an internal page or external site</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b435c3f8-6484-47c2-a099-b4e7aec739f2" SortOrder="0">redirector</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>70ee3c28-c487-4274-8af5-56e998d36e51</Key>
      <Name>Redirect</Name>
      <Alias>redirect</Alias>
      <Definition>e7b059c4-9afa-41d8-9dfb-06e70fa617aa</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Please choose either an internal page or external site]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>de0f5c8f-70b0-4aa7-8da9-41ed3c61634e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>