<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8aa6b9d0-82d8-4202-9594-c00e732813d6" Alias="resetPasswordPage" Level="2">
  <Info>
    <Name>Reset Password Page</Name>
    <Icon>icon-help color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page members who have forgot their password can use to retrieve it</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>ResetPasswordPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e820f833-bf0e-42b9-904a-57348e505df3">ResetPasswordPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>