<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fba43a2a-44da-44c1-bc6e-713581e01c0f" Alias="resourcesPage" Level="2">
  <Info>
    <Name>Resources Page</Name>
    <Icon>icon-file-cabinet color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The landing page for the resources section of the site. The actual content underneath this page is pulled in from the JNCC resources API.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>ResourcesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a8db83c3-8013-4a2e-abc8-fb904f92f581">ResourcesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b435c3f8-6484-47c2-a099-b4e7aec739f2" SortOrder="0">redirector</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>7cf34b38-0176-45b0-967b-11bf7777cdc3</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>135036b7-b4a1-421f-9e6e-42445b69e2e1</Key>
      <Name>Featured Resources</Name>
      <Alias>featuredResources</Alias>
      <Definition>c94bb35b-3348-4e79-8969-c76f024d9726</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the featured resource panels you require here.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="featuredResources">Featured Resources</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bd42d718-b9d4-44e1-b209-11b5c216ba38</Key>
      <Name>Featured Resources Title</Name>
      <Alias>featuredResourcesTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title that is displayed at the top of the featured resources panel.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="featuredResources">Featured Resources</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d3f59e8d-a18e-4823-9023-5071bf255e86</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>2b1bdbe5-bff4-4bf6-ae73-325e05938b53</Key>
      <Caption>Featured Resources</Caption>
      <Alias>featuredResources</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>