<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cee98260-3c18-4a19-a8d1-7528d9e824a3" Alias="scienceIFrameSubSectionImageGallerySchema" Level="3">
  <Info>
    <Name>Science iFrame Sub Section Image Gallery Schema</Name>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science iFrame Sub Section for authoring an Image Gallery.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="189855aa-f0b0-4e49-ba0b-a34e525ba95b">scienceIframeSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="189855aa-f0b0-4e49-ba0b-a34e525ba95b">scienceIframeSectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>43c0dc83-c457-4918-9ba1-1611a0fe9501</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>8d1243b8-c080-49bd-b328-064fe30445a0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The images used for the image gallery.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>310785ed-d81f-44c6-b130-3c1093681277</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>