<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d4506ede-08e7-4f71-aa73-83e49e86c88d" Alias="scienceDetailsSectionImageGallerySchema" Level="3">
  <Info>
    <Name>Science Details Section Image Gallery Schema</Name>
    <Icon>icon-photo-album color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Details Section for authoring an Image Gallery.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Composition>
      <Composition Key="b44781dd-a695-4950-a5da-2474796e070a">scienceDetailsSectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fbad3bca-36cf-44cd-84e4-58592655ef7c</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>8d1243b8-c080-49bd-b328-064fe30445a0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The images used for the image gallery.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>de4ff86f-d17a-49db-a429-4bfc144d7af7</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>