<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5be221e6-428a-4f3d-8879-f11ed7c5a484" Alias="scienceIFrameSubSectionRichTextSchema" Level="3">
  <Info>
    <Name>Science iFrame Sub Section Rich Text Schema</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science iFrame Sub Section that offers a Rich Text editor for generic written content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="189855aa-f0b0-4e49-ba0b-a34e525ba95b">scienceIframeSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="189855aa-f0b0-4e49-ba0b-a34e525ba95b">scienceIframeSectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d86ebc47-8e08-4f1a-8732-f7de67c9c1c2</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>72158602-8a67-4e60-b6b9-83f122f14a21</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content for the section.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6fd73a21-10e0-4187-b98e-44cb5d65a3e8</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>