<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="556fba9b-ddf9-41bd-98c7-99c854e8cc05" Alias="scienceCategorySectionRichTextSchema" Level="3">
  <Info>
    <Name>Science Category Section Rich Text Schema</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Category Section that offers a Rich Text editor for generic written content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Composition>
      <Composition Key="5332df18-fca1-41b8-970e-3bb7e5a21fc3">scienceCategorySectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>43922b9c-b070-40c4-b622-85ca2df36525</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>72158602-8a67-4e60-b6b9-83f122f14a21</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content for the section.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>21d064ce-ee66-44a7-ba0e-0d45f08c8956</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>