<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f6a93ae-fe52-4b41-af6c-c7f161d456b6" Alias="scienceCategorySectionImageGallerySchema" Level="3">
  <Info>
    <Name>Science Category Section Image Gallery Schema</Name>
    <Icon>icon-photo-album color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Category Section for authoring an Image Gallery.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Composition>
      <Composition Key="5332df18-fca1-41b8-970e-3bb7e5a21fc3">scienceCategorySectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4ef0cec5-5829-4d36-835d-571bffa777bb</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>8d1243b8-c080-49bd-b328-064fe30445a0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The images used for the image gallery.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>57382814-579f-4ef6-abfc-bc31bce2908d</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>