<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5b5ddd36-1cd2-4e9c-958b-bcd8b23e62f3" Alias="scienceCategorySectionImageTextSchema" Level="3">
  <Info>
    <Name>Science Category Section Image &amp; Text Schema</Name>
    <Icon>icon-edit color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Category Section that offers an Image picker &amp; Rich Text editor for generic written content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Composition>
      <Composition Key="5332df18-fca1-41b8-970e-3bb7e5a21fc3">scienceCategorySectionSubSectionsSchemaComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>79925234-61e7-497d-becc-2f1eaa5e792e</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>72158602-8a67-4e60-b6b9-83f122f14a21</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2ae640dc-b457-429d-a698-841f70ea87aa</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>df78a34b-6980-426a-b722-b18de6af3c91</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>782df7e1-bc83-4bda-b865-34d0ffd639ff</Key>
      <Name>Image Position</Name>
      <Alias>imagePosition</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Accepted written positions are: 'Left', 'Right', 'Top']]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8f8e55ff-c9c8-4ca2-9de6-f8c9c33164ef</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>