<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e3e1ec04-7264-46ae-ab38-0e0ee153c96e" Alias="scienceDetailsSubSectionRichTextSchema" Level="3">
  <Info>
    <Name>Science Details Sub Section Rich Text Schema</Name>
    <Icon>icon-edit color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Details Sub Section that offers a Rich Text editor for generic written content.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e6429689-ea1d-42e4-90e3-38bb836c7fb6</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>72158602-8a67-4e60-b6b9-83f122f14a21</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content for the section.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a11ad017-a6c1-460a-b59e-76326fb92ce5</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>0964bb73-0522-487c-a8d2-db6682070a79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2928e280-2883-4642-94ae-8956264fd8ab</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>