<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5332df18-fca1-41b8-970e-3bb7e5a21fc3" Alias="scienceCategorySectionSubSectionsSchemaComposition" Level="2">
  <Info>
    <Name>Science Category Section Sub Sections Schema Composition</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e428b33d-fcec-465e-bbb4-9942c99a3ec1</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>1305771e-64f7-4a84-8e05-809e151d6847</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional sub sections which will be rendered below the content of this section.]]></Description>
      <SortOrder>999</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7582a066-e360-472e-8fea-14e9473cf2b7</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>