<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6eb1124a-1431-4b90-8df9-1f6d00d64638" Alias="scienceCategorySubSectionSliderSchema" Level="3">
  <Info>
    <Name>Science Category Sub Section Slider Schema</Name>
    <Icon>icon-pictures-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Category Sub-Section that offers a slider component to be built with multiple items.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="474df410-efcb-429c-a8fb-2d1d384a2e69">scienceCategorySectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>cd539c17-6a1a-48c3-ad7a-6ea3f1800e4d</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to display above the image slider.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15aef74c-175d-4678-a778-af0b8798f827</Key>
      <Name>Show Grey Background</Name>
      <Alias>showGreyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" all slider items will have a grey background applied. By default no background will be applied.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e6201625-5a9e-4e4d-823b-bdd4b47d54d3</Key>
      <Name>Show Timeline Arrows</Name>
      <Alias>showTimelineArrows</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" a timeline arrow will be added between the slider items. By default no timeline arrows will be applied.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c479a661-3d5c-48dc-9100-ee2441b56219</Key>
      <Name>Slider Items</Name>
      <Alias>sliderItems</Alias>
      <Definition>b138a199-50a1-4cde-856a-e1a79a6f11d2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section to create the slider items displayed, the order of these items will determine the order the items are displayed in the slider.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8e4fc6ce-62ff-4ae3-85af-ef789fd874e2</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>1305771e-64f7-4a84-8e05-809e151d6847</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>64062177-662d-4578-95f7-f5bc883a2c87</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>