<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="81786f6a-7603-40b4-910e-7b6c1c937249" Alias="scienceDetailsPage" Level="2">
  <Info>
    <Name>Science Details Page</Name>
    <Icon>icon-microscope color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page for displaying detailed scientific resources.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8762f228-e971-49d7-a3a8-ba7976e37a89">alertComposition</Composition>
      <Composition Key="22838cc0-ea91-49ed-8ba0-4dc808726329">getInTouchComposition</Composition>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="96135853-b8f0-4e8f-9172-8b6e72dd903b">pageMetaInformationComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="e7e93a2f-7067-40bb-a19b-7fc212604a32">relatedItemsComposition</Composition>
      <Composition Key="1774935e-c098-4c16-9078-eb34c0fde458">sciencePageCategorisationComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
      <Composition Key="89d3ccfe-541c-4f5d-a755-2078720f287b">sidebarComposition</Composition>
    </Compositions>
    <DefaultTemplate>ScienceDetailsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dc30e519-ae7d-4bd7-b3f1-904087d419de">ScienceDetailsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f93e7136-5e47-4e34-939b-c7b145430618</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>457d8757-650d-45c9-8fa6-0c97856b9a4b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="metaInformation">Meta Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7456158-0b26-4980-ae6e-2a5e64442619</Key>
      <Name>Image and Text Section</Name>
      <Alias>imageAndTextSection</Alias>
      <Definition>5d023a23-43d4-4b39-ac02-3e43c92eab97</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used to display an Image and Text section between the Preamble and the Contents listing block]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2a2609b5-7a42-4fc6-a486-c9fcf9bc3cd9</Key>
      <Name>Main Content</Name>
      <Alias>mainContent</Alias>
      <Definition>dffef1c7-e081-4cef-9088-5588c184d19a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The main content for the page. Each section added here will be used to create an entry in the table of contents.If no sections are authored then no table of content will be created.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>10f0c1a2-e9db-4afc-8393-a2ca6d52fbee</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>72158602-8a67-4e60-b6b9-83f122f14a21</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductory content explaining the purpose of the page.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>44fd7c8e-e847-40ea-9c54-7baeb3387d5c</Key>
      <Name>Related Categories</Name>
      <Alias>relatedCategories</Alias>
      <Definition>457d8757-650d-45c9-8fa6-0c97856b9a4b</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Allows editors to related categories to the current category. This is a one way process, if the linked category is also related to this one, it must be authored on the other category page too.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e3137b8a-b04b-4ca3-9feb-de870d802e46</Key>
      <Name>Reviewed Date</Name>
      <Alias>reviewedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The date the page last had a meaningful editorial review.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="metaInformation">Meta Information</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dbcad360-8004-4667-9825-ba5d345b682d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3bc55f21-a872-4904-9e6a-b246b594c99a</Key>
      <Caption>Meta Information</Caption>
      <Alias>metaInformation</Alias>
      <Type>Group</Type>
      <SortOrder>5</SortOrder>
    </Tab>
  </Tabs>
</ContentType>