<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2673350b-906c-4eaf-8204-ce5e31295b77" Alias="scienceDetailsSubSectionImageGallerySchema" Level="3">
  <Info>
    <Name>Science Details Sub Section Image Gallery Schema</Name>
    <Icon>icon-photo-album color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Details Sub Section for authoring an Image Gallery.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a20adffe-af42-437a-b85c-8143d48a2c2f</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>8d1243b8-c080-49bd-b328-064fe30445a0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The images used for the image gallery.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c31025f6-b005-496b-bf6a-d79011cc0735</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>0964bb73-0522-487c-a8d2-db6682070a79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f93abce9-cd6d-4661-bcf6-4d541c3bfe38</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>