<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="189855aa-f0b0-4e49-ba0b-a34e525ba95b" Alias="scienceIframeSectionBaseSchema" Level="2">
  <Info>
    <Name>Science iFrame Section Base Schema</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A base for all other Section Schemas for a Science iFrame Page. This should be considered an abstract and not used by authors.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Schemas</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>5d93c6dc-7979-4426-953d-4b03c7d758dd</Key>
      <Name>Headline</Name>
      <Alias>headline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The headline for the section. This is used in the generated Table of Contents.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e42b4237-ed0a-447d-b0ee-677bffa034bd</Key>
      <Name>Hide Headline?</Name>
      <Alias>hideHeadline</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[When selected, this will hide the headline from the table of contents and header of the block]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>64f20f19-ede7-47aa-a31c-8f001e422475</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>