<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="396363d1-2912-4e1a-ace5-5a1b427dee42" Alias="scienceDetailsSectionSliderSchema" Level="3">
  <Info>
    <Name>Science Details Section Slider Schema</Name>
    <Icon>icon-pictures-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Details Section that offers a slider component to be built with multiple items.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7da57c83-dbfa-4ed6-9410-c5a4f5af5cbb</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to display above the image slider.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>50d4bd5c-ddd3-4d1c-aad2-92a31d99c9c7</Key>
      <Name>Show Grey Background</Name>
      <Alias>showGreyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" all slider items will have a grey background applied. By default no background will be applied.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8e55bdc-fb15-4fe5-9d5d-219e9bf56cca</Key>
      <Name>Show Timeline Arrows</Name>
      <Alias>showTimelineArrows</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" a timeline arrow will be added between the slider items. By default no timeline arrows will be applied.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>252fb0e2-5ded-4a3b-83b0-8b7b8baf2545</Key>
      <Name>Slider Items</Name>
      <Alias>sliderItems</Alias>
      <Definition>b138a199-50a1-4cde-856a-e1a79a6f11d2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section to create the slider items displayed, the order of these items will determine the order the items are displayed in the slider.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>62e4b223-97c4-47d7-8427-5d497bce11fd</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>0964bb73-0522-487c-a8d2-db6682070a79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional sub sections which will be rendered below the content of this section.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>06d080fb-065a-4c66-96a2-7e3f81089185</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>