<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ced60859-395f-47e6-82e1-a98b7f3da417" Alias="scienceDetailsSubSectionSliderSchema" Level="3">
  <Info>
    <Name>Science Details Sub Section Slider Schema</Name>
    <Icon>icon-pictures-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A Science Details Sub-Section that offers a slider component to be built with multiple items.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Parent>
    <Compositions>
      <Composition Key="79a3f499-2f23-4de4-9215-9cffca5a38a9">scienceDetailsSectionBaseSchema</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>611d9d10-13c2-4066-9902-03128f239d4a</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Content to display above the image slider.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1df40280-0a02-4dc5-bb5a-723ce128287a</Key>
      <Name>Show Grey Background</Name>
      <Alias>showGreyBackground</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" all slider items will have a grey background applied. By default no background will be applied.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>84e9a0bb-e41d-4dfb-ae5c-577bd8271108</Key>
      <Name>Show Timeline Arrows</Name>
      <Alias>showTimelineArrows</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[By setting this to "True" a timeline arrow will be added between the slider items. By default no timeline arrows will be applied.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bad32328-1967-447b-8b70-cf764dfb3740</Key>
      <Name>Slider Items</Name>
      <Alias>sliderItems</Alias>
      <Definition>b138a199-50a1-4cde-856a-e1a79a6f11d2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Section to create the slider items displayed, the order of these items will determine the order the items are displayed in the slider.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c7e1704-863e-43ae-9432-f2d25dcfc4de</Key>
      <Name>Sub Sections</Name>
      <Alias>subSections</Alias>
      <Definition>0964bb73-0522-487c-a8d2-db6682070a79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional sub sections which will be rendered below the content of this section.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="section">Section</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d5f77740-b04f-42ce-8bd3-cf547181ff08</Key>
      <Caption>Section</Caption>
      <Alias>section</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>