<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6f223ecf-3ef5-4c33-bb28-029fd537b63f" Alias="searchResultsPage" Level="2">
  <Info>
    <Name>Search Results Page</Name>
    <Icon>icon-search color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
    </Compositions>
    <DefaultTemplate>SearchResultsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cec58905-6198-4850-86e3-9c0981eb5701">SearchResultsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>