<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="89d3ccfe-541c-4f5d-a755-2078720f287b" Alias="sidebarComposition" Level="2">
  <Info>
    <Name>Sidebar Composition</Name>
    <Icon>icon-checkbox-dotted color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Settings related to sidebar properties.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8c96c39c-e90c-4b7a-9014-dd7307be1fe8</Key>
      <Name>Elsewhere on our website links</Name>
      <Alias>sidebarElsewhereOnOurWebsite</Alias>
      <Definition>8dae3e09-a3b1-4a28-b678-574a7febac0b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to other internal web pages]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ffefac6-f48d-4bc8-beae-47c1996d036c</Key>
      <Name>Other websites</Name>
      <Alias>sidebarOtherWebsites</Alias>
      <Definition>8dae3e09-a3b1-4a28-b678-574a7febac0b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Links to other external web pages]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9a6257d7-aced-498e-97b5-3b6531e0385b</Key>
      <Name>Primary Call To Action Button</Name>
      <Alias>sidebarPrimaryCallToActionButton</Alias>
      <Definition>e7b059c4-9afa-41d8-9dfb-06e70fa617aa</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Link & Text for an optional Call to Action button.This could be various purposes, for example "Get in Touch" or "Download Data".]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23fa1221-e5a1-4b38-8565-8bd2c67dd2a3</Key>
      <Name>See Also Links</Name>
      <Alias>sidebarSeeAlsoLinks</Alias>
      <Definition>8dae3e09-a3b1-4a28-b678-574a7febac0b</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Useful links to other internal & external web pages.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="sidebar">Sidebar</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7b8c4ef7-ab48-42f1-b4df-8f86438c8f1b</Key>
      <Caption>Sidebar</Caption>
      <Alias>sidebar</Alias>
      <Type>Group</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>