<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a08289f8-3215-4dde-bb00-d69cd16d7b1c" Alias="StaffDirectoryPage" Level="2">
  <Info>
    <Name>Staff Directory Page</Name>
    <Icon>icon-folders color-light-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A directory page for listing staff profile pages.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0deb322b-e646-495f-a4c0-76ec7cfeef64">navigationSettingsComposition</Composition>
      <Composition Key="37770937-3a0c-4261-acf2-e4ca75ba15b0">pageHeroComposition</Composition>
      <Composition Key="59aaa880-442b-46d5-bab0-004d3cca953c">pageSpecificIncludesComposition</Composition>
      <Composition Key="8d7c117c-0ad2-4118-a051-9a1799b7fa67">seoComposition</Composition>
    </Compositions>
    <DefaultTemplate>StaffDirectoryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="be3cf044-fb54-4603-9431-e530699192c1">StaffDirectoryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c9f50924-f784-4ba2-a952-0f559db4cc55" SortOrder="0">StaffProfilePage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>9b2f38dd-34e9-4ab0-aae5-89d4f1b77445</Key>
      <Name>Preamble</Name>
      <Alias>preamble</Alias>
      <Definition>dbb7c860-e61b-4214-ba1b-1eccc2c2a549</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Introductory content that appears before the staff directory profiles.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b4860e24-e08e-4c34-89b8-c2a902fdbe77</Key>
      <Name>Profiles Per Page</Name>
      <Alias>profilesPerPage</Alias>
      <Definition>d8afe333-70ac-4f76-83ee-729ef6815d8c</Definition>
      <Type>Umbraco.Slider</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Determines how many profiles should be shown per page by default.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="directoryListing">Directory Listing</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1a1b2e6e-d840-49dd-b7ea-dec630888568</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3c7be3fb-673c-4be6-88f1-1ddc9f219ed0</Key>
      <Caption>Directory Listing</Caption>
      <Alias>directoryListing</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>