<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3b8c062e-4571-4cd9-b51e-39635ff8ca3e" Alias="toBeDeleted" Level="1">
  <Info>
    <Name>To Be Deleted</Name>
    <Icon>icon-trash color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A container node that allows pages to be deleted via Courier</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="50ea9983-8bf8-4016-bcff-eb652534ed3c" SortOrder="0">aboutUsPage</ContentType>
    <ContentType Key="cb35e9f1-0716-438f-8227-97d45c9dde36" SortOrder="1">ArticlePage</ContentType>
    <ContentType Key="7eb6fdf4-f487-4f32-b1c2-00822a4423a1" SortOrder="3">ArticulateArchive</ContentType>
    <ContentType Key="93265f00-38e6-4cfa-a5dc-e7f125d3bc4f" SortOrder="4">ArticulateAuthor</ContentType>
    <ContentType Key="93d3ec9b-473f-4f8f-a077-b940f9fd1afa" SortOrder="5">ArticulateAuthors</ContentType>
    <ContentType Key="6adcfc83-36ec-45a4-98b0-98aea7fa1fcf" SortOrder="6">ArticulateMarkdown</ContentType>
    <ContentType Key="71bb6811-715f-43be-9fa8-268f06ec23b3" SortOrder="7">ArticulatePost</ContentType>
    <ContentType Key="297dda1f-be11-4ab7-87d2-18b49d089a5a" SortOrder="8">ArticulateRichText</ContentType>
    <ContentType Key="9126e2ee-236c-4a42-ac9b-bb25bafbbe18" SortOrder="9">bizDevServicePage</ContentType>
    <ContentType Key="f446c13c-75eb-4970-a311-e29f3a91096c" SortOrder="10">careersLandingPage</ContentType>
    <ContentType Key="c13bce71-3a5d-4370-abc3-e9c1aabce4ec" SortOrder="11">customErrorPage</ContentType>
    <ContentType Key="5a06cc8a-c356-49f4-b3da-bb85686713a3" SortOrder="12">genericListingPage</ContentType>
    <ContentType Key="0ebc2fcd-60aa-43d4-a48a-960f90898768" SortOrder="13">homePage</ContentType>
    <ContentType Key="5f83c745-72b5-4fd3-953d-5f1504567a4e" SortOrder="14">iFramePage</ContentType>
    <ContentType Key="37f159a2-ac73-4f41-bb6a-ec390cb09ea2" SortOrder="15">individualJobPage</ContentType>
    <ContentType Key="cd6ed229-bfb9-4a5e-ae00-7b51cf15ed9a" SortOrder="16">internalTextPage</ContentType>
    <ContentType Key="f30c81ec-37f0-4030-9fff-d94cef6a7786" SortOrder="17">loginPage</ContentType>
    <ContentType Key="11fdff54-fcb2-423b-879b-93ea2b233c73" SortOrder="18">memberAccountPage</ContentType>
    <ContentType Key="098d59e9-90db-47cb-a5c8-60f59a3339f7" SortOrder="19">NewsAndInsightsLandingPage</ContentType>
    <ContentType Key="8aa6b9d0-82d8-4202-9594-c00e732813d6" SortOrder="20">resetPasswordPage</ContentType>
    <ContentType Key="7c435c39-31f0-450f-8766-3a3a1bb90143" SortOrder="21">scienceAToZPage</ContentType>
    <ContentType Key="91a95559-dc33-4e03-86fb-ddfb0a26b4ca" SortOrder="22">scienceCategoryPage</ContentType>
    <ContentType Key="81786f6a-7603-40b4-910e-7b6c1c937249" SortOrder="23">scienceDetailsPage</ContentType>
    <ContentType Key="a591f2b0-82f9-459a-bf2a-b01e7c0745c2" SortOrder="24">scienceLandingPage</ContentType>
    <ContentType Key="6f223ecf-3ef5-4c33-bb28-029fd537b63f" SortOrder="25">searchResultsPage</ContentType>
    <ContentType Key="a08289f8-3215-4dde-bb00-d69cd16d7b1c" SortOrder="26">StaffDirectoryPage</ContentType>
    <ContentType Key="c9f50924-f784-4ba2-a952-0f559db4cc55" SortOrder="27">StaffProfilePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>