@using JNCC.PublicWebsite.Core.ViewModels
@model IEnumerable<NavigationItemViewModel>

@if(Model?.Any() ?? false)
{
    <ul class="footer-bottom-list no-bullet info">
        @foreach (var item in Model)
        {
            <li><a href="@item.Url" target="@item.Target" accesskey="@item.AccessKey">@item.Text</a></li>
        }
    </ul>
}